.medications-list {
  display: flex;
  flex-direction: column;
}

.medications-list--icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.medications-list--title {
  margin: 32px 0;
}

.medications-list--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0;
}

.medications-form--refills {
  margin: 12px 0;

  .form-label {
    margin-bottom: 8px;
  }
}

.medications-form--date {
  margin-top: 24px;
}
