.medication--icon {
  // border: solid red;
  width: 100%
}

.medication--icon--food {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.medication--icon--water {
  height: 50px;
  width: 50px;
  padding: 5px;
}