.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lab-new--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form--user-action {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
