.labs-new {
  display: flex;
  flex-direction: column;
}

.lab-form--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lab-form--field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lab-form--user-action {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 32px 0;
}
