.card {
  display: flex;
  width: 327px;
  min-height: 88px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  img {
    width: 56px;
    height: 56px;
  }
}

.card--details {
  display: flex;
  flex-direction: column;
}
