@import "../styles/mixins.scss";
@import "../styles/variables.scss";
@import "../styles/typography.scss";
@import "./TextButton.scss";

$button-height: 36px;
$wide-button: 40vw;
$med-button: 136px;

.button {
  height: $button-height;

  a {
    color: $white;
  }
}

.button--save,
.button--delete,
.button--cancel,
.button--edit {
  width: $wide-button;
}

.button--new {
  width: $small-button;
}

.button--new-dose {
  width: $med-button;
}

.button--login {
  height: $tall-button;
  width: $wide-button;
}
