@import "../styles/variables.scss";

.nav-menu--heading {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  height: 360px;
  justify-content: space-around;
}

.nav-menu--button {
  margin: 24px 0;
}