$tall-button: 48px;
$short-button: 36px;
$wider-button: 214px;
$small-button: 98px;

.button--user-action {
  height: $tall-button;
  width: $wider-button;
};

.button--group {
  height: $short-button;
  width: $small-button;
};

