.card {
  display: flex;
  min-width: 327px;
  width: 80vw;
  min-height: 88px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  &:hover {
    cursor: pointer;
    filter: brightness(95%);
  }

  img {
    width: 56px;
    height: 56px;
  }
}

.card--details {
  display: flex;
  flex-direction: column;
}

.card--vaccination {
  width: 100%;
  margin-bottom: 16px;

  &--doses {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.card--dose {
  display: flex;
  width: 80%;
  height: 24px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  &:hover {
    cursor: pointer;
    filter: brightness(95%);
  }
}

#panel1a-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
}
