.clinics-new,
.clinics-edit,
.labs-new,
.labs-edit {
  display: flex;
  flex-direction: column;
}

.clinics-form--container,
.labs-form--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clinics-form--field,
.labs-form--field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clinics-form--user-action,
.labs-form--user-action {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 32px 0;
}
