.grouped-buttons--container-blood {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  
  width: 100%;
  height: 100px;

  button {
    margin-right: 11px;
  }
}
